* {
  box-sizing: border-box;
}

:root {
  --font-color: #843c94;
  --border-color: #cfd3f8;
  --link-color: #cfd3f8;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: #e8f2ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

#navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: black;
  color: var(--link-color);
  width: 100%;
  height: 100px;
}

#navBar h1 {
  padding-bottom: 8px;
  color: var(--font-color);
  font-size: 30px;
}

#navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 20px;
}

#navigation a {
  margin: 10px;
  font-size: 20px;
  color: var(--link-color);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--link-color);
}

#navigation a:hover {
  font-size: 20px;
  color: var(--font-color);
  text-decoration: none;
  padding: 5px;
  background-color: var(--link-color);
  border-radius: 10px;
}

.hero-banner {
  background-image: url("../images/hero.png");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

img {
  border-radius: 50%;
  margin: 10px;
}

.hero-banner h2 {
  padding: 20px;
  color: var(--font-color);
  font-size: 30px;
  
}

main {
  width: 98%;
  margin: 0 10px;
}

.page-section {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-right: 5px;
}

.page-section h2 {
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  color: var(--font-color);
  border-right: 5px solid var(--font-color);
  text-align: end;
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
} 

.info p {
  margin: 7px 5px;
  text-align: justify;
}

.hero-project {
  background-image: url("../images/my-mars-mission.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1c3148;
}

.project2 {
  background-image: url("../images/school-departments.jpeg");
  background-size: cover;
}
.project3 {
  background-image: url("../images/bus-board.jpeg");
  background-size: cover;
}
.project4 {
  background-image: url("../images/whale-spotting.png");
  background-size: cover;
}
.project5 {
  background-image: url("../images/chessington.jpeg");
  background-size: cover;
  
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 1em);
  min-height: 150px;
  margin: 0.5rem;
  border: 5px solid var(--border-color);
  border-radius: 10px;
  text-decoration: none;
  
}

.flex-item:hover {
  box-shadow: inset 0px 0px 8px rgb(218, 230, 241), 0 0 15px #5c568d;
}


.flex-item div {
  background-color: rgb(218, 230, 241);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.flex-item:first-child {
  min-height: 300px;
  flex-basis: 100%;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contact-container p a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--font-color);
}

.contact-container p a:hover {
  background-color: var(--link-color);
  margin: 10px;
  color: var(--font-color);
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  border-bottom: 0;
}




@media only screen and (max-width: 576px) {
  #navigation {
    display: none;
  }

  #navBar {
    justify-content: stretch;
  }

  #navBar h1 {
    font-size: 40px;
  }

  .hero-banner h2 {
    font-size: 25px;
    
  }
}




@media only screen and (max-width: 768px) {
  #navBar h1 {
    font-size: 23px;
  }

  #navigation a {
    margin: 5px;
    font-size: 16px;
    color: var(--link-color);
    text-decoration: none;
    border-bottom: none;
  }


  #navigation a:hover {
    margin: 4px;
    font-size: 13px;
    background-color: black;
    border-bottom: 2px solid var(--link-color);
    color: var(--link-color);
    border-radius: 0;
  }

  .page-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .page-section h2 {
    font-size: 25px;
    color: var(--font-color);
    border-right: none;
    padding-left: 0;
    margin: 10px;
    border-bottom: 3px solid var(--font-color);
  }

  .info {
    margin: 5px;
    padding: 0;
  } 


  .flex-item {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }


  .contact-container {
    flex-direction: column;
    gap: 10px;
  }
  
  .contact-container p a {
    font-size: 15px;
    border-bottom: none;
  }

  .contact-container p a:hover {
    background-color:var(--link-color);
    padding: 5px;
    border-radius: 10px;
    border-bottom: 0;
  }

}
